src/main/resources/xsd/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="report">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="style">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="class"
                                              type="xs:string"
                                              use="required" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="location">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="interesting">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="url">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="description"
                                                                      type="xs:string"
                                                                      use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded"
                                        name="var">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name"
                                                    type="xs:string" />
                                        <xs:element name="icon"
                                                    type="xs:unsignedByte" />
                                        <xs:element name="data">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded"
                                                                name="forecast">
                                                        <xs:complexType>
                                                            <xs:attribute name="data_sequence"
                                                                          type="xs:unsignedByte"
                                                                          use="required" />
                                                            <xs:attribute name="value"
                                                                          type="xs:string"
                                                                          use="required" />
                                                            <xs:attribute name="id"
                                                                          type="xs:unsignedByte"
                                                                          use="optional" />
                                                            <xs:attribute name="idB"
                                                                          type="xs:unsignedByte"
                                                                          use="optional" />
                                                            <xs:attribute name="valueB"
                                                                          type="xs:string"
                                                                          use="optional" />
                                                            <xs:attribute name="id2"
                                                                          type="xs:unsignedByte"
                                                                          use="optional" />
                                                            <xs:attribute name="value2"
                                                                          type="xs:string"
                                                                          use="optional" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="city"
                                      type="xs:string"
                                      use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>